* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/* global */
.btn-rounded-custom {
    border-radius: 30px;
}

/* navigation */
.navigation-custom {
    padding: 50px 0;
    width: 100vw;
}

.navigation-brand {
    text-decoration: none;
    font-size: 35px;
    font-weight: 700;
}

/* showcase */
.showcase-details-title {
    font-size: 60px;
    font-weight: 900;
}

.showcase-details-description {
    font-size: 15px;
    margin-top: 20px;
    font-weight: 500;
}

.showcase-details-form {
    margin-top: 40px;
    width: 100%;
}

.showcase-details-form > input {
    border-radius: 30px;
    width: 50%;
    border: 1px solid lightgray;
}

.showcase-details-form > input::placeholder {
    color: lightgray;
    font-weight: 200;
}

.showcase-details-form > input:focus {
    outline: none;
}

.showcase-details-form > button {
}

.showcase-image {
    width: 100%;
}

.showcase-image > img {
    width: 100%;
    object-fit: cover;
}

/* services */
.services {
    padding-top: 200px;
    width: 100vw;
    overflow-x: hidden;
}

.services-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 100px;
}

.services-cards-container {
    width: 90%;
    margin: 0 auto;
}

.card {
    width: 80%;
}

.card-image {
    object-fit: cover;
    width: 80%;
}

.card-title {
    margin-top: -48px;
    font-size: 25px;
    font-weight: 700;
}

.card-text {
    font-size: 14px;
    margin-top: 40px;
}

.service-card-2 {
    margin-top: 80px;
}

.service-card-3 {
    margin-top: 30px;
}

/* management */
.management {
    padding-top: 200px;
}

.management-image {
    width: 90%;
}

.management-details-title {
    font-weight: 700;
}

.management-details-description {
    font-weight: 500;
}

/* team */
.team {
    padding-top: 200px;
}

.team-details {
    padding-left: 120px;
}

.team-details-title {
    font-weight: 700;
}

.team-details-description {
    font-weight: 500;
}

.team-image {
    width: 90%;
    object-fit: cover;
}

/* Trust */
.trust {
    padding-top: 200px;
}

.trust-title {
    font-weight: 700;
    margin-bottom: 30px;
}

.trust-content {
    min-height: 500px;
    height: 500px;
}

.trust-content > div {
    height: 100%;
}

.trust-content > div:first-child > img {
    width: 60%;
    object-fit: cover;
}

.trust-content > div:last-child > img {
    width: 80%;
    object-fit: cover;
}

.trust-content-middle > h1 {
    font-size: 80px;
    font-weight: 700;
    color: rgb(6, 149, 238);
}

/* footer */
.footer {
    padding-top: 200px;
    padding-bottom: 200px;
}

.footer-title {
    font-weight: 700;
    margin-bottom: 10px;
}

.footer-description {
    font-size: 20px;
}

/* MEDIA QUERIES */
@media(max-width: 768px) {
    .services {
        padding-top: 100px;
    }

    .management {
        padding-top: 100px;
    }

    .management-image {
        width: 100%;
    }

    .management-details-title {
        margin-bottom: 30px;
    }
    
    .management-details-description {
        margin-bottom: 30px;
    }

    .team {
        padding-top: 100px;
    }

    .team-details {
        padding-left: 10px;
    }

    .team-details-title {
        margin-bottom: 30px;
    }
    
    .team-details-description {
        margin-bottom: 30px;
    }

    .team-image {
        width: 100%;
        object-fit: cover;
    }

    .trust {
        padding-top: 100px;
    }

    .trust-content {
        height: max-content;
    }

    .trust-content > div {
        height: max-content;
    }

    .trust-content-middle > h1 {
        font-size: 50px;
    }

    .footer {
        padding: 100px 0;
    }

    .card {
        width: 100%;
    }

    .service-card-2 {
        margin-top: 0px;
    }
    
    .service-card-3 {
        margin-top: 0px;
    }
    
}

@media(max-width: 480px) {
    .showcase-details-title {
        font-size:45px;
    }
}
